body {
    background-image: url("/img/pexels-pixabay-53621.jpg");
    background-size: 100%;
}

h1 {
    color: darkcyan;
    font-size: 50px;
    text-align:center;

}

span#tip-word {
    color:palevioletred;
}

div#calculator{
    color: rgb(9, 9, 9);
    font-size: 35px;
    width: 600px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: 25px;
    padding: 50px;
    margin: auto;
}
label{
    display:inline-block;
    width: 300px;
    margin-right: 25px;
    padding: 15px;
}

input{
    margin-right: 50px;
    width: 100px;
    height: 25px;
    padding: 2.5px 40px;
    text-align: center;
}

.btn-space {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.btn{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    color: black;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}